.main-container {
  width: 100%;
  padding: 80px 20px;
  background-color: black;
  color: white;
  position: relative;

  .text-area {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    h1 {
      font-size: 85px;
      letter-spacing: -7px;
      font-weight: 600;
      margin-right: 0.3em;
      margin-bottom: 0.2em;
    }
    .desktop-text {
      font-size: 18px;
      font-weight: 500;
      line-height: 1.6;
      letter-spacing: -0.54px;
      max-width: 440px;
      font-size: 18px;
    }
    .mobile-text {
      display: none;
    }
  }
}

.flex-contain {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 4em;
  margin-top: 5em;
}

.service-btn {
  width: fit-content;
  border: none;
  cursor: pointer;
  font-size: 45px;
  font-weight: 100;
  letter-spacing: -0.68px;
  padding: 16px 40px;
}

.service-contain {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 5em;

  div {
    p {
      display: none;
    }
  }
}

.btn-one {
  background-color: #cb744e;
}

.btn-two {
  background-color: #99ffc2;
}

.btn-three {
  background-color: #8a9ee4;
}

.btn-four {
  background-color: #8ad4e4;
}

.btn-five {
  background-color: #e38ae4;
}

.cards-style {
    max-width: 100%;
    height: 100%;
    color: #0d0d0d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 250px 15px;
    border-bottom-left-radius: 20px 115px;
    border-bottom-right-radius: 105px 15px;
    padding: 20px 30px;
    position: absolute;
}

.heading {
    font-size: 24px;
    font-weight: 500;
    line-height: 38.8px;
    letter-spacing: -.72px;
    text-transform: capitalize;
    text-align: center;
    transform: rotate(4.10deg);
}

.text {
    max-width: 351px;
    font-size: 18px;
    text-align: center;
    font-weight: 400;
    line-height: 28.8px;
    letter-spacing: -.54px;
    transform: rotate(4.10deg);
}

.cards {
  width: 480px;
  height: 430px;
  position: relative;

  .card-desOne {
    background-color: #cb744e;
    transform: rotate(-3.42deg);
    z-index: 5;
  }

  .card-desTwo {
    background-color: #99ffc2;
    transform: rotate(-4.42deg);
    z-index: 4;
  }

  .card-desThree {
    background-color: #8a9ee4;
    transform: rotate(-5.42deg);
    z-index: 3;
  }

  .card-desFour {
    background-color: #8ad4e4;
    transform: rotate(-6.42deg);
    z-index: 2;
  }

  .card-desFive {
    background-color: #e38ae4;
    transform: rotate(-7.42deg);
    z-index: 1;
  }
}

@media screen and (max-width: 870px) {
  .main-container {
    .text-area {

      h1 {
        font-size: 52px;
    font-weight: 600;
    line-height: 46px;
    letter-spacing: -2.9px;
    padding-right: 2px;
      }
      
      .desktop-text {
    display: none;
  }
      .mobile-text {
        display: inline-block;
        font-size: 16px;
    line-height: 1.8;
    letter-spacing: -.48px;
    width: 500px;
      }
    }
  }

 .cards {
    display: none;
  }

  .flex-contain {
    display: block;
  }

  .service-contain {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5em;
  
    .card-des {
       display: flex;
        border: 0.536px solid #000;
        color: black;
    background: #fff;
    width: 100%;

      p {
        display: flex;
    font-size: 16px;
    padding: 16px 0 32px;
    font-weight: 400;
    line-height: 28.8px;
    letter-spacing: -.48px;
    max-width: max(280px,50%);
    text-align: center;
    margin: auto;
      }
    }
  }

  .service-btn {
    width: 100%;
  }

}
